openapi: 3.1.0
info:
  title: 'Qibla Direction API - AlAdhan'
  description: 'A Qibla direction API to calculaate the Qibla angle on a compass and generate a Qibla compass image'
  version: v1
servers:
  -
    url: 'https://api.aladhan.com/v1'
  -
    url: 'http://api.aladhan.com/v1'
paths:
  '/qibla/{latitude}/{longitude}':
    get:
      tags:
        - Qibla
      summary: 'Qibla direction API'
      description: 'Returns the Qibla direction based on a pair of co-ordinates'
      operationId: 83b8bb4fb3996eae7179d2a24ec4a4ec
      parameters:
        -
          name: latitude
          in: path
          description: 'Latitude co-ordinates '
          required: true
          schema:
            type: number
            format: float
          example: 19.071017570421
        -
          name: longitude
          in: path
          description: 'Longitude co-ordinates'
          required: true
          schema:
            type: number
            format: float
          example: 72.838622286762
      responses:
        '200':
          description: 'Returns the Qibla direction based on the co-ordinates'
          content:
            application/json:
              schema:
                properties:
                  code: { type: integer, example: 200 }
                  status: { type: string, example: OK }
                  data: { properties: { latitude: { type: number, example: 19.071017570421 }, longitude: { type: number, example: 72.838622286762 }, direction: { type: number, example: 280.07746236652 } }, type: object }
                type: object
  '/qibla/{latitude}/{longitude}/compass':
    get:
      tags:
        - Qibla
      summary: 'Qibla direction compass API'
      description: 'Returns a compass image marking the direction of the Qibla'
      operationId: 9a621fc1292043197c5a4de949504171
      parameters:
        -
          name: latitude
          in: path
          description: 'Latitude co-ordinates '
          required: true
          schema:
            type: number
            format: float
          example: 19.071017570421
        -
          name: longitude
          in: path
          description: 'Longitude co-ordinates'
          required: true
          schema:
            type: number
            format: float
          example: 72.838622286762
      responses:
        '200':
          description: 'Returns a compass image with the Qibla direction based on the co-ordinates'
          content:
            image/png:
              schema:
                type: string
                format: binary
tags:
  -
    name: Qibla