FileETag  MTime Size

ExpiresActive on
ExpiresByType image/jpeg "access plus 1 hour"
ExpiresByType image/png "access plus 1 hour"
ExpiresByType application/javascript "access plus 1 hour"
ExpiresByType text/html "access plus 1 hour"
ExpiresByType text/css "access plus 1 hour"

RewriteEngine On

<If "%{ENV:LOAD_BALANCER_MODE} == '1' && %{HTTP:X-LOAD-BALANCER} != %{ENV:LOAD_BALANCER_KEY}">
    RewriteRule .* - [F]
</If>

# RewriteBase /
RewriteCond %{HTTP_HOST} ^www.aladhan.com$ [OR]
RewriteCond %{HTTPS} off
RewriteRule (.*)$ https://aladhan.com/$1 [R=301,L]

# Default rules for Slim
RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
