FileETag  MTime Size

ExpiresActive on
ExpiresByType image/jpeg "access plus 1 hour"
ExpiresByType image/png "access plus 1 hour"
ExpiresByType application/javascript "access plus 1 hour"
ExpiresByType text/html "access plus 1 hour"

RewriteEngine On
# RewriteBase /
RewriteCond %{HTTP_HOST} ^www.aladhan.com$
RewriteRule (.*)$ https://aladhan.com/$1 [R=301,L]

# Default rules for Slim
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
